*{
    font-family: Montserrat,Arial,sans-serif;
    scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}

#container{
  width: 100vw;
}

#hero{
   background-image: url("./assets/brands_hero.jpg");
   background-size: cover;
}

#hero::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,rgb(0, 0, 0), #26284bb9,rgba(251, 251, 252, 0.725));
    opacity: 0.9;
  }

  .clippath{
    clip-path: ellipse(50% 12% at 50% 100%);
    background-color: white;
    height: 20rem;
    position:absolute;
    bottom: -18px;
    left:0;
    right: 0;
  }

/* 
    #left {
      position: fixed;
      top: 0%;
      left: 0;
    }

    #right {
      
      position: relative;
      left:30%;
    } */

    .b1Hover{
      background-color: rgba(9, 9, 118, 0.9);
    }

  
    .b1:hover{
      .b2{
        transform: scale(1.1);
        }
      .b1Hover{
        display: block;
      }
      
      transform: scale(1.3);
    }


footer{
    background-color: #003da5;
 }

 footer{
    position: relative;
  }

  .clippathfoot{
    clip-path: ellipse(50% 12% at 50% 100%);
    background-color: #003da5;
        height: 20rem;
    position:absolute;
    top:-20rem;
    left:0;
    right: 0;
  }


@media screen and (max-width:1184px) {
 
  #left{
    display: none;
  }
  #right{
    width: 100%;
  }
}

@media screen and (max-width:960px){
    navbar ul li a{
        display: none;
    }
    navbar a{
        display: none;
    }
    #bar{
        display: block;
        margin: 10px 20px;
    }
    navbar ul li img{
        display: flex;
        position: relative;
        top:-2rem;
        width: 3rem;
        margin: 10px 10px;
        align-items: center;
        justify-content: center;
    } 

    .footer-top{
        display: block;
      }
    
      .footer-bottom{
        display: flex;
        flex-direction: column;
      }
}

@media screen and (max-width:830px) {
  #hero h1{
    font-size: 40px;
  }
  #con{
    width: 80%;
    margin-left:4% ;
  }
  #baby{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #fabric{
    text-align: center;
  }
   #fabricin{
   flex-direction: column;
   }

   #feminine{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   }

   #grooming{
    text-align: center;
   }
   #groomingin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   #hair{
    text-align: center;
   }
   #hairin{
      flex-direction: column;
   }
   #home{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
   #oral{
    text-align: center;
   }
   #oralin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   #ph{
    text-align: center;
   }
   #phin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   #skin{
    text-align: center;
   }
   #skinin{
      flex-direction: column;
   }
   .empty{
    display: none;
   }
}