*{
    font-family: Montserrat,Arial,sans-serif;
    scroll-behavior: smooth;
}

#container{
    width: 100vw;
}

.clippathfoot{
    clip-path: ellipse(50% 12% at 50% 100%);
    background-color: #003da5;
    height: 20rem;
    position:absolute;
    top:-20rem;
    left:0;
    right: 0;
  }

footer{
    background-color: #003da5;
 }

 footer{
    position: relative;
  }

  @media screen and (max-width:960px){
    navbar ul li a{
        display: none;
    }
    navbar a{
        display: none;
    }
    #bar{
        display: block;
        margin: 10px 20px;
    }
    navbar ul li img{
        display: flex;
        position: relative;
        top:-2rem;
        width: 3rem;
        margin: 10px 10px;
        align-items: center;
        justify-content: center;
    } 

    #main h1{
        font-size: 2rem;
        text-align: center;
        padding: 4px;
    }

.footer-top{
        display: block;
      }
    
      .footer-bottom{
        display: flex;
        flex-direction: column;
      }

    .sz{
        width: 100%;
    }
}

@media screen and (max-width:1390px) {
    #main h1{
        font-size: 3rem;
        text-align: center;
        padding: 6px;
    }  
}
