*{
    font-family: Montserrat,Arial,sans-serif;
    scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
#intro{
    background-image: url("./assets/HP_2.jpg");
}
#intro::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  .b1Hover{
    background-color: rgba(5, 5, 249, 0.8);
  }

  .b1:hover{
    .b1Hover{
      display: block;
    }
    .b2{
    transform: scale(1.2);
    }
    transform: scale(1.6);
  }


  #relation::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    background: rgba(0, 0, 0, 0.3);
  }
  #career::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    background: rgba(0, 0, 0, 0.3);
  }

  .clippath{
    clip-path: ellipse(50% 12% at 50% 100%);
    background-color: white;
    height: 20rem;
    position:absolute;
    bottom: -18px;
    left:0;
    right: 0;
  }

  footer{
    position: relative;
  }

  .clippathfoot{
    clip-path: ellipse(50% 12% at 50% 100%);
    background-color: #003da5;
    height: 20rem;
    position:absolute;
    top:-20rem;
    left:0;
    right: 0;
  }

  #testimonials{
   margin-left: 6rem;
   margin-right: 6rem; 
  }

  #testimonials .section-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-y: hidden;
    overflow-x: scroll;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
  }
  
  
  #testimonials .testimonial {
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 80%;
  }
  
  #testimonials .testimonial img {
    width: 100%;
    height: 100%;
  }


  #relation:hover{
     #invest{
      display: block;
     }
     .b3{
     transform: scale(1.08);
     }
  }
   

  #career:hover{
    #explore{
      display: block;
    }
    .b3{
      transform: scale(1.08);
      }
  }
 
  footer{
    background-color: #003da5;
  }

  #step1{
    background-image: url(./assets/Water__2___1_.jpg);
  }
 

  #step{
    animation-name: myfirst;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    overflow-y: hidden;
  }


  @keyframes myfirst{
    from{
        transform: translate(400px);
    }
    to{
       transform: translate(-400px);
    }
  }


  @media screen and (max-width:1400px) {
    #water{
      height: 18rem;
    }
    #footprint{
      height: 18rem;
    }
    #heading{
      font-size: 1rem;
    }
    #sustain{
      height: 18rem;
    }
    #sustain img{
        height: 100%;
    }
    
  }
  @media screen and (max-width:1120px) {
    #brands {
        margin-left:0;
        margin-right: 0;
    }

    #step{
      display: none;
    }
    #step1 {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  }

  @media screen and (max-width:960px){
    navbar ul li a{
        display: none;
    }
    navbar a{
        display: none;
    }
    #bar{
        display: block;
        margin: 10px 20px;
    }
    navbar ul li img{
        display: flex;
        position: relative;
        top:-2rem;
        width: 3rem;
        margin: 10px 10px;
        align-items: center;
        justify-content: center;
    } 
    #intro h1{
        font-size: 3rem;
    }
    #brands{
      display:none ;
    }

    #brandHead{
      font-size: 24px;
    }
    #testimonials{
      display: block;
    }
  .footer-top{
    display: block;
  }

  .footer-bottom{
    display: flex;
    flex-direction: column;
  }

  }

  @media screen and (max-width:850px){
    #secondlast{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #relation{
       width: 100%;
       height: 100%;
    }
    #career{
      width: 100%;
      height: 100%;
    }
  }
@media screen and (max-width:500px) {
  #brandHead{
    font-size: 14px;
  }
  #testimonials{
    margin-left: 2rem;
    margin-right: 2rem; 
   }
   #iconic{
       font-size: 14px;
       margin: 2px;
       padding: 3px;
   }
  
}
 