* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  overflow-x: hidden;
}

#hero{
    position: relative ;
    display: flex;
    justify-content: center;
}
.hero-symbol{
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 50px;
    position: absolute;
    top: 370px;
    padding: auto;
    height: 70px;
    background-color: white;
    border-radius: 100%;
    width: 90px;
    /* left: 500px; */

    margin-left:auto;
}
.hero-symbol img{
  width: 50%;

}
.hero_icon img {
  /* border: 2px solid red; */
  height: 600px;
  width: 1600px;
  border-radius: 700px;
  padding: auto;
  margin-top: -200px;
  /* margin-left: -100px; */
  /* background-color: #000; */
  background: #fff;
}
.content {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  background-color:#fff;
  text-align: center;
  /* padding: 30px; */
}
.content span {
  color: yellow;
}
.content h1 {
  font-size: 50px;
  color: #003da7;
  padding: 80px;
  font-weight: 800;
}
.content h2 {
  /* font-family: 50px; */
  color: #003da7;
  padding-bottom: 25px;
}
.content p {
  padding: 15px;
  line-height: 25px;
  font-weight: 400;
}

.content-2 {
  background: #fff;
  border: 2px solid white;
  padding-bottom: 60px;
}
.content-2 .para {
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
  font-size: large;
  font-style: italic;
}
.icons {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.pic img {
  width: 100%;
  height: 100px;
}
.pic p a {
  text-decoration: none;
  color: #003da7;
  font-weight: 600;
}
.pic p a i {
  color: #003da7;
  /* opacity: 0.5; */
}
.pic p {
  padding: 10px;
  color: #003da7;
  font-weight: 500;
}
.pic p a .i-1 {
  padding-left: 42px;
  padding-top: 10px;
}
.pic p a .i-2 {
  padding-left: 92px;
  padding-top: 10px;
}
.pic p a .i-3 {
  padding-left: 60px;
  padding-top: 10px;
}
.pic p a .i-1:hover {
  transform: calc(3);
}

/* P&G shiksha */
.P-and-G {
  padding: 60px;
  /* border: 5px solid  orange; */
  background-color: #f1f1f1;
}
.p-g img{
  margin: auto;
}

.p-g {
  text-align: center;
  padding-bottom: 50px;
}
.p-g h2 {
  padding-bottom: 30px;
  color: #003da7;
  font-weight: 600;
}
.p-g p {
  padding-bottom: 30px;
  /* color:; */
}
.p-g-content {
  display: flex;
}
.p-g-content .description {
  width: 50%;
  /* width: 52%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
.description h2 {
  color: #003da7;
  /* align-items: center; */
  /* text-align: center; */
  font-weight: 600;
  padding: 10px 0;
  font-size: 20px;
  padding-right: 60px;
}
.description p {
  width: 100%;
  padding: 10px;
  line-height: 28px;
}
.p-g-content .icon {
  /* width: 48%; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.p-g-content .icon img {
  border-radius: 50%;
}

.B-and-L {
  padding: 60px;
  background-color: #fff;
}
.b-l img{
  margin: auto;
}

.b-l {
  text-align: center;
  padding-bottom: 50px;
}
.b-l h2 {
  padding: 20px;
  padding-bottom: 30px;
  color: #003da7;
  font-weight: 600;
  font-size: 20px;
}
.pics {
  width: 100%;
}
.pics img {
  width: 200px;
  height: 200px;
  margin: auto;
}
.b-l-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 30px;
  /* align-items: center; */
}
.b-l-content h4 {
  color: #003da7;
  padding: 15px;
  font-weight: 500;
}
.b-l-content p {
  word-wrap: wrap;
  line-height: 23px;
}

.covid-19 {
  /* width: 60%; */
  text-align: center;
}
.covid-19 h3 {
  font-size: 30px;
  color: #003da7;
  padding-top: 10px;
  font-weight: 500;
  font-size: 25px;
}
.covid-19 p {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 30px;
  line-height: 25px;
  font-weight: 400;
}
.covid-19 img{
  margin: auto;
}
.images {
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  text-align: center;
  gap: 15px;
}
.images {
  padding: 20px;
  /* width: 50%; */
}
.png img {
  width: 80%;
  height: 80px;
  /* padding-bottom: 10px; */
}
.png a {
  text-decoration: none;
  color: #003da7;
  font-weight: 500;
  font-size: small;
  /* padding: 10px; */
}
.png p a i {
  color: white;
  padding: 10px;
  opacity: 0.5;
}
.covid-content {
  text-align: center;
  padding-top: 70px;
}
.covid-content img{
  margin: auto;
}
.covid-content h3 {
  font-size: 30px;
  color: #003da7;
  /* padding-top: 30px; */
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 25px;
}
.covid-content p {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 15px;
  padding-bottom: 50px;
  line-height: 25px;
  font-weight: 500;
  /* font-size: 20px; */
}
.vaccine {
  text-align: center;
  padding: 50px 0;
}
.vaccine p {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 25px;
  line-height: 25px;
  /* font-weight: 500; */
}
.vaccine img{
  margin: auto;
}

.impact-content {
  text-align: center;
}
.impact-content h3 {
  font-size: 30px;
  color: #003da7;
  padding-top: 10px;
  font-weight: 500;
  font-size: 25px;
}
.impact-content p {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
  /* padding: 15px; */
  /* padding: 50px; */
  line-height: 25px;
  font-weight: 500;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn button {
  /* padding: auto; */
  /* margin: auto; */
  padding: 5px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #003da7;
}
.btn button a {
  text-decoration: none;
  /* align-items: center; */
  font-size: 13px;
  font-weight: 600;
  color: #003da7;
}
.btn button a i {
  font-size: 15px;
  padding: 0 5px;
  color: #003da7;
}
.btn button:hover a {
  color: white;
}
.btn button:hover {
  background-color: #063279;
}
.btn button:hover i {
  color: white;
}

.about {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fff;
}
.about h2 {
  padding-left: 40px;
  font-size: 40px;
  color: #003da7;
  font: 700;
}
.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
  /* overflow: hidden; */
}
.about .ab-pic {
  width: 100%;
  /* height: 300px; */
  overflow: hidden;
}
.about-img {
  padding: 50px;
}
.ab-pic img {
  width: 100%;
  height: 400px;
  opacity: 1;
}

.about-img .ab-pic h4 {
  position: absolute;
  top: 50%;
  /* text-align: center; */
}
.ab-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ab-pic h4 a {
  color: white;
  font-size: large;
  text-decoration: none;
}

.ab-pic:hover {
  transform: scale(1.1);
}
.ab-pic:hover img {
  transition: 0.5s all ease-in-out;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  body {
    overflow-x: hidden;
  }
  .hero_icon img {
  height: 300px;
  width: 320px;
  border-bottom-right-radius: 20% ;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  padding: auto;
  margin-top: 0px;
  margin-left:0px;
  }
  .hero-symbol{
    font-size: 50px;
    position: absolute;
    top: 90%;
    left: 40%;
}
  .content h1 {
    font-size: 35px;
    padding: 50px 30px;
  }
  .content h2{
    font-size: 22px;
    padding: 0px 15px;
  }
  .content p{
    width: 100%;
    padding: 10px 15px;
  }
  .content-2 .para {
    padding-top: 30px 0px;
    text-align: center;
  }
  .icons {
   flex-direction: column;
    justify-content: center;
    gap: 30px;

  }
  .pic img {
    height: 90px;
  }
  .P-and-G{
    padding-top: 30px;
  
  }
  .p-g img{
    width: 100%;
  }
  .p-g h2 {
    padding: 30px;
   font-size: 20px;
  }
  .p-g-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .p-g-content .icon {
    /* width: 48%; */
    border-radius: 30%;
    width: 100%;

  }
  .p-g-content img{
    width: 100%;
  }
  .P-and-G {
    padding: 20px;
    text-align: center;
  }
  .p-g-content .description{
    text-align: center;
    width: 100%;
  }
  .description h2 {
    padding: 30px 0; 
  }
  .description p {
    width: 100%;
    font-weight: 500;
    line-height: 25px;
    padding:0px 10px ;
  }
  .B-and-L{
    width: 100%;
    padding:30px 20px;
  }
  .b-l img{
    width: 100%;
    /* height: 200px; */
  }
  .b-l-content
   {
    width: 100%;
   flex-direction: column;
    gap: 60px;
  }
  .pics img {
    width: 100%;
    height: 280px;
  }
  .covid-19{
    /* background-color: red; */
    width: 100%;
  }
  .covid-19 img{
    width: 100%;
  }
  .covid-19 p {
    width: 100%;
    padding: 10x;
    font-weight: 500;
  }
  .images {
    /* background-color: red; */
   flex-direction: column;
    align-items: center; 
    gap: 30px;
  }
  .covid-content h3 {
    font-size: 25px;
    font-weight: 500;
  }
  .covid-content p{
    width: 100%;
    padding: 30px;
  }
  .vaccine p{
    width: 100%;
    padding: 30px;
  }
  .impact-content h3 {
    font-size: 18px;
    padding: 0px 35px;
    /* text-align: center; */
    font-weight: 600;
  }
  .btn {
   flex-direction: column;
    gap: 15px;
    padding: 0px 40px;
  }
  .about {
    margin-top: 60px;
    margin-bottom:0px;
  }
  .about h2 {
  
    padding-left: 20px;
    font-size: 20px;
    color: #003da7;
    font: 700;
  }
  .about-img {
   flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 30px;
    position: relative;
    /* overflow: hidden; */
  }
  .about-img {
    padding: 10px;
  }
  .ab-pic img {
    width: 80%;
    height: 240px;
    /* opacity: 0.5; */
    filter: brightness(0.6);
  }
  .about-img .ab-pic h4 {
    position: absolute;
    top: 50%;
    /* text-align: center; */
  }
  #pic-1{
    top: 110px;
  }
  #pic-3{
    top: 660px;
  }

/* navbar */

  navbar ul li a{
      display: none;
  }
  navbar a{
      display: none;
  }
  #bar{
      display: block;
      margin: 10px 20px;
  }
  navbar ul li img{
      display: flex;
      position: relative;
      top:-2rem;
      width: 3rem;
      margin: 10px 10px;
      align-items: center;
      justify-content: center;
  } 
}






@media only screen and (min-width: 481px) and (max-width: 768px){

  .hero_icon img {
    height: 500px;
  width: 100%;
  border-bottom-right-radius: 25% ;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  padding: auto;
  margin-top: 0px;
  margin-left:0px;
  }
  .hero-symbol{
    font-size: 50px;
    position: absolute;
    top: 95%;
    left: 45%;
}
.icons {
   gap: 10px;

 }
 .p-g-content {
  flex-direction: column-reverse;
  align-items: center;
}
.p-g-content .icon {
  width: 100%;
  /* flex-direction: column-reverse; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon img{
  width: 100%;
}
.p-g-content .description {
  padding: 0 auto;
  width: 100%;
  margin: 20px 0px;
  /* margin-bottom: 20px; */
}
.description h2{
  padding-right: 0px;
  text-align: center;
}
.description p {
  width: 100%;
  padding: 10px;
}
.b-l-content {
  flex-direction: column;
  gap: 50px;
}
.pics img {
  height: 250px;
}
.covid-19 p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 15 px 30px;
  line-height: 25px;
  font-weight: 400;
}
.images {
  gap: 60px;
}
.covid-content h3 {
  font-size: 30px;
  color: #003da7;
  /* padding-top: 30px; */
  padding: 20px 40px;
  font-weight: 600;
  font-size: 25px;
}
.covid-content p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding:30px 20px;
  line-height: 25px;
  font-weight: 500;
  /* font-size: 20px; */
}
.vaccine {
  text-align: center;
  padding: 50px 0;
}
.vaccine p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding:30px 20px;
  /* font-weight: 500; */
}
.impact-content p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding:30px 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn {
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;

}
.btn button{
  padding:5px ;
}
/* .about h2{
  padding: 40px 0px;
} */
.about-img {
  flex-direction: column;
   /* justify-content: center; */
   /* align-items: center; */
   gap: 30px;
   position: relative;
   /* overflow: hidden; */
 }
 .about {
  margin-top: 60px;
  margin-bottom:0px;
}
.about h2 {
  padding: 50px 20px;
  font-size: 20px;
  color: #003da7;
  font: 700;
}
.about-img {
  padding: 10px;
}
.ab-pic img {
  width: 350px;
  height: 350px;
  /* opacity: 0.5; */
  filter: brightness(0.6);
}
.about-img .ab-pic h4 {
  position: absolute;
  top: 50%;
  /* text-align: center; */
}
#pic-1{
  top: 180px;
}
#pic-3{
  top: 930px;
}
}



/* navbar */


footer{
  position: relative;
}

.clippathfoot{
  clip-path: ellipse(50% 12% at 50% 100%);
  background-color: #003da5;
  height: 20rem;
  position:absolute;
  top:-20rem;
  left:0;
  right: 0;
}



/* sheetal */

@media screen and (max-width:960px){
  navbar ul li a{
      display: none;
  }
  navbar a{
      display: none;
  }
  #bar{
      display: block;
      margin: 10px 20px;
  }
  navbar ul li img{
      display: flex;
      position: relative;
      top:-2rem;
      width: 3rem;
      margin: 10px 10px;
      align-items: center;
      justify-content: center;
  } 

  .footer-top{
    display: block;
  }

  .footer-bottom{
    display: flex;
    flex-direction: column;
  }
}