* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.hamburger-button {
  display: none;
  height: 50px;
  background-color: rgba(1, 107, 210, 255);
  color:  white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.nav-links {
  display: none;
  background-color: rgba(1, 107, 210, 255);
  color: white;
}
.nav-links a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  text-transform:uppercase ;
}
.nav-links a:hover {
  /* background-color: aqua; */
  color: aqua;
}

 header{
    width: 100%;
    position: sticky;
    top: 0;
}
header nav{
  /* box-shadow: 3px 2px 3px 1px #88888888; */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
background-color:#fdfdfd;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 160px;
}
/* nav form input span{
position: absolute;
top: 100px;
left: 20px;

} */
nav form {
  margin-left: 40px;
}
nav form input{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
   border-radius: 30px;
   border-color: rgba(173, 158, 158, 0.249);
   /* width: 100%; */
   height: 50px;
   margin: auto;
  padding: 10px;
  margin-bottom: 30px;
 
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center;  */
}
 nav ul li{
    width: 80px;
    height: 100%;
    margin-right: 10px;
     padding: auto;
     text-align: center;
    /* padding: 10px; */
    line-height: 16px;
    list-style-type: none;  
}
nav ul li a{
    text-transform: uppercase;
    font-size: 14px;
    /* margin-top: 10px; */
    text-decoration: none;
    line-height:0px;
    /* color: #003da7; */
}
nav ul li img{
  width: 60px;
}
nav ul li a i{
    font-size: 25px;
    padding-right: 5px;
    justify-content: center;
    display: flex;
    align-items: center;   
}
nav .logo img{
    width: 60%;
    padding-bottom: 35px;
    /* height: 50px; */
    /* margin: 10px; */
}

nav ul li a:hover {
    color: aqua;
}  

.Blog {
  /* margin-top: 0; */
  /* padding: 30px; */
}
.Blog h2 {
  text-align: center;
  color: #003da7;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 800;
}
.item {
  height: auto;
  width: 30%;
  margin-bottom: 20px;
}
.item img {
  width: 100%;
}
.item p {
  margin-top: 10px;
  font-size: small;
}
.item h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  /* color: white; */
}

.item a:hover {
  color: aqua;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}
/* .pagination {
  width: 100%;
  /* margin: 60px; */
  /* display: flex;
  justify-content: center;
 } */

.pagination {
  padding: 30px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.distributor {
  display: flex;
  justify-content: center;
  margin: 20px;
  /* align-items: center; */
}
.distributor p {
  height: 20px;
  margin: 10px;
}
footer {
  background-color: rgba(1, 107, 210, 255);
  display: flex;
  justify-content: center;
  padding-top: 60px;
  gap: 30px;
}
footer .option ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
footer .option ul li a:hover {
  color: aqua;
  text-decoration: underline;
}
.option ul{
    padding-left: 0px;
}
ul li {
  line-height: 30px;
}
footer h3 {
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 15px;
  /* padding-left: 25px; */
  color: white;
}
footer .option ul li {
  list-style-type: none;
}
footer .option ul li a {
    font-size: 14px;
}
.option-container{
    display: flex;
    gap: 30px;
}
.pic img {
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 5px;
}
.payement {
  /* width: 20%; */
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.pp {
  width: 20%;
}
form {
  display: flex;
  /* align-items: center; */
  gap: 15px;
  /* justify-content: center; */
}
footer .pp2 {
  margin-left: 0px;
}
.pp2 button a {
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.pp2 p{
  font-size: 14px;
  color: white;
}
.pp2 form button {
  border-radius: 20px;
  height: 35px;
  background-color: #2ed7e3;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  width: 110px;
  border-style: none;
}
.pp2 form input {
  height: 35px;
  width: 60%;
  border-radius: 20px;
  background-color: #f1f1f1;
  font-size: 12px;
  padding: 0px;
  color: white;
  padding-left: 10px;
  border-color: white;
}
.pp2 form button:hover {
  background-color: rgba(1, 107, 210, 255);
  border: 2px solid #2ed7e3;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Blog h2 {
    font-weight: 600;
  }

  
  header nav{
    width: 100%;
    justify-content: space-between;
    padding: 10px 10px;
    height: 80px;
  }
     header nav .logo img{
    width: 100%;
    padding-bottom: 0px;

}
   header nav .logo{
  width: 60px;
  height: 60px;
}
  

  .hamburger-button {
    display: block;
    width: 110%;
    height: 50px;
    padding: 8px;
    font-size: 18px;
  }
  .nav-links {
    margin-top: 130px;
    width: 70%;
    height: 200px;
    overflow: scroll;
    display: none;
    background-color: rgba(1, 107, 210, 255);
    color: black;
  }
  .nav-links a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 10px;
    line-height: 10px;
    text-decoration: none;
    text-transform:uppercase ;
  }
  .nav-links a:hover {
    background-color: aqua;
    color: aqua;
  }

 nav .navs{
  display: none;
}

header nav{
  /* box-shadow: 3px 2px 3px 1px #88888888; */
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

nav .logo img{
  width: 50%;
  padding-bottom: 0px;
  /* height: 50px; */
  /* margin: 10px; */
}

  .container {
    /* flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 5px; */
  }
  .item {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .item img {
    width: 100%;
    padding: 0px 15px;
  }
  .item p {
    /* margin-top: 10px; */
    /* padding: 15px; */
    padding-left: 15px;
    font-size: small;
  }
  .item h3 {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /* margin-top: 10px; */
    /* color: white; */
  }
  .item a {
    padding-left: 15px;
    color: #003da7;
    font-weight: 600;
  }
 
  .distributor {
    padding-bottom: 30px;
    margin: 10px 20px;
  }
  .distributor img{
    padding-top: 10px;
  }
  footer {
    padding-top: 0px;
    flex-direction: column;
  }
  .option-container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  .option-container .option h3{
    /* text-align: center; */
    margin: 0px 15px;
    padding-top: 40px;
  }
  .option-container .option ul{
    /* padding:  0px 20px; */
    /* text-align: center; */
    margin: 0px 15px;
  }
  .pp{
    width: 100%;
  }
  .pp h3{
    padding: 15px;
  }
  .payement {
   padding-left: 15px;
    gap: 20px;
    /* align-items: center; */
    flex-wrap: wrap;
  }
  .pp2{
    margin-top: 20px;
  }
   footer .pp2 {
    padding:15px ;
    margin-left: 0px;
  }
  .pp2 form{
    display: flex;
    flex-direction: column;
  }
  .pp2 form input{
    width: 100%;
    padding: 20px;
    font-size: 15px;
  }
  .pp2 form  button{
    width: 100%;
    font-size: 15px;
    
  }
  .pp2 form  button a{
    color: white;
  }

 
}


@media only screen and (min-width: 481px) and (max-width: 768px){

    .item {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
      }
      .item img {
        width: 100%;
        padding: 0px 0px;
        margin: 0px;
      }
      .item p {
        /* margin-top: 10px; */
        padding: 15px;
        padding-left: 15px;
        font-size: small;
      }
      .item h3 {
        padding-left: 15px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        /* margin-top: 10px; */
        /* color: white; */
      }
      .item a {
        padding-left: 15px;
        color: #003da7;
        font-weight: 600;
      }

      header nav{
        width: 100%;
        justify-content: space-between;
        padding: 30px 40px;
        height: 80px;
      }
      nav .logo img{
        width: 100%;
        padding-bottom: 0px;

    }
    nav .logo{
      width: 60px;
      height: 60px;
    }
      
  .hamburger-button {
    display: block;
    justify-content: space-between;
    width: 110%;
    height: 50px;
    /* gap: 500px; */
    padding: 8px;
    font-size: 18px;
  }
  .nav-links {
    margin-top: 130px;
    width: 70%;
    height: 200px;
    overflow: scroll;
    display: none;
    background-color: rgba(1, 107, 210, 255);
    color: black;
  }
  .nav-links a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 10px;
    line-height: 10px;
    text-decoration: none;
    text-transform:uppercase ;
  }
  .nav-links a:hover {
    background-color: aqua;
    color: aqua;
  }
      nav .navs{
        display: none;
      }
    
      .distributor {
        padding-bottom: 30px;
        margin: 10px 20px;
      }
      .distributor img{
        padding-top: 10px;
      }
      footer {
        padding-top: 0px;
        flex-direction: column;
      }
      .option-container{
        display: flex;
        /* align-items: center; */
        justify-content: center;
      }
      .option-container .option h3{
        /* text-align: center; */
        margin: 0px 15px;
        padding-top: 40px;
      }
      .option-container .option ul{
        /* padding:  0px 20px; */
        /* text-align: center; */
        margin: 0px 15px;
      }
      .pp{
        width: 100%;
      }
      .pp h3{
        padding: 15px;
      }
      .payement {
       padding-left: 15px;
        gap: 20px;
        /* align-items: center; */
        flex-wrap: wrap;
      }
      .pp2{
        margin-top: 20px;
      }
       footer .pp2 {
        padding:15px ;
        margin-left: 0px;
      }
      .pp2 form{
        display: flex;
        flex-direction: column;
      }
      .pp2 form input{
        width: 100%;
        padding: 20px;
        font-size: 15px;
      }
      .pp2 form  button{
        width: 100%;
        font-size: 15px;
        
      }
      .pp2 form  button a{
        color: white;
      }
    

}

@media only screen and (min-width: 769px) and (max-width: 1024px){

    .item {
        height: auto;
        width: 49%;
        margin-bottom: 20px;
      }
      .item img {
        width: 100%;
        padding: 0px 0px;
      }
      .container {
        justify-content: space-between;
      }
      .item p {
        /* margin-top: 10px; */
        /* padding: 15px; */
        padding-left: 0px;
        font-size: large;
      }
      
      .distributor {
        padding-top: 30px;
        margin: 10px 20px;
        padding-bottom: 50px;
      }
      .distributor p{
        font-size: large;
      }
      footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .option-container{
        display: flex;
        justify-content:center ;
        gap: 110px;
      }
      .option-container .option h3{
        margin: 0px 0px;
        padding-top: 0px;
      }
      .option-container .option ul{
        margin: 0px 0px;
      }
      footer{
        justify-content: space-between;
        padding: 30px 30px;
            width: 100%;
      }
      .pp2{
        margin-top: 40px;
      }
       footer .pp2 {
        padding:0px ;
        margin-left: 0px;
      }
      .pp2 form{
        display: flex;
        flex-direction: column;
      }
      .pp2 form input{
        width: 80%;
        padding: 20px;
        font-size: 15px;
      }
      .pp2 form  button{
        width: 80%;
        font-size: 15px;
        
      }
      .pp2 form  button a{
        color: white;
      }
      .pp2 form {
        padding: 0px 0px;
      }
      .pp2 form{
        padding : 0px  0px ;
      } 
}


