* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body,
html {
  height: 100%; 
   margin: 0; 
}
.Hero {
  background-image: url(assests/1.11.23_Ingredients_Page_Key_Image_Option_4__2_.webp);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: radial-gradient(
    125% 10% at 50% 102%,
    transparent 50%,
    /* #fff 51% */
  );
  mask-image: radial-gradient(125% 10% at 50% 102%, transparent 50%, #fff 51%);
}
.Hero {
  /* position: relative; */
}

.hero-icon img {
  position: absolute;
  height: 100px;
  top: 110px;
  left: 40px;
}
.hero-content {
  position: absolute;
  top: 220px;
  left: 40px;
}

.hero-content h1 {
  font-size: 100px;
 
  color: white;
}
.hero-content p {
  font-size: 18px;
  line-height: 30px;
  color: white;
  width: 60%;
  margin-top: 20px;
}
/* .clip-path{
    clip-path: polygon(28% 66%, 66% 65%, 100% 78%, 100% 100%, 0 100%, 0 76%);
    height: 150px;
    width: 100%;
    background-color: #000;
} */

.ingredient {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #f1f1f1;
}

.ingredient .left {
  padding: 20px;
  width: 45%;
  margin-left: 20px;
  margin-top: 50px;
}
.left .title h2 {
  color: #003da7;
  font-size: 45px;
  font-weight: 700;
}
.left .title p {
  margin-top: 30px;
  font-size: 16px;
  color: black;
  line-height: 30px;
}
.ingredient-content .description {
  margin-top: 20px;
}
.description h2 {
  color: #003da7;
  font-size: 22px;
  font-weight: 600;
}
.description p {
  /* font-weight: 300; */
  font-size: 16px;
  padding-top: 20px;
  line-height: 30px;
}
span {
  color: skyblue;
}
button {
  /* background-color: #000; */
  border-radius: 50px;
  padding: 0px 10px;
  height: 45px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  border-color: red;
}
a {
  color: #003da7;
}
button a {
  text-decoration: none;
}
button i {
  padding: 5px;
}
button:hover {
  background-color: #4d8cd9;
}
button a:hover {
  color: white;
}
button a i:hover {
  color: black;
}
.right {
  margin-top: 100px;
}

/* section ingrident-2 */

.ingredient-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  padding-top: 50px;
  background-color: #f1f1f1;
}
.left-2 {
  width: 60%;
  padding: 20px;
  padding-bottom: 40px;
}
.title h2 {
  color: #003da7;
  font-size: 45px;
  font-weight: 700;
}
.title p {
  margin-top: 30px;
  font-size: 18px;
  color: black;
  line-height:30px; 
}
ul {
  margin-top: 40px;
}

ul li {
  font-weight: 400;
  font-size: 18px;
  color: black;
  line-height: 30px;
  list-style-type: none;
  padding-left: 20px;
}
.para {
  margin-top: 40px;
  /* color: black; */
}
.para .p1 {
  font-size: 18px;
  color: black;
  font-weight: 400;
  line-height: 30px;
}
.para .p2 {
  font-size: smaller;
  margin-top: 40px;
  color: black;
}
.right-2 .img-1 img {
  width: 100%;
  height: 100%;
}

/* ingrident-3 */

.ingrident-3 {
  /* background-color: rgb(218, 223, 231) ; */
  padding-top: 50px;
  padding: 20px;
}
.ingrident-3 .title h2{
  font-size: 45px;
}
.ingrident-3 .title p{
  font-size: 18px;
  line-height: 30px;
}
.ingredient-content-3 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  /* background-color: #f2f7ff; */
}
.left-3 .ingd-decs {
  padding-top: 40px;
}
.left-3 .ingd-decs h3 {
  font-size: 25px;
  color: #003da7;
  padding-bottom: 20px;
}
.left-3 .ingd-decs p {
  font-size: 18px;
  line-height: 30px;
  padding-top: 20px;
  color: black;
}
.right-3 .ingd-decs {
  padding-top: 40px;
}
.right-3 .ingd-decs h3 {
  font-size: 25px;
  color: #003da7;
  padding-bottom: 20px;
}
.right-3 .ingd-decs p {
  font-size: 18px;
  line-height: 30px;
  padding-top: 20px;
}
.right-3 .ingd-decs .p1 {
  padding-bottom: 78px;
}

/* fragnance */

.fragrance {
  display: flex;
  justify-content: space-evenly;
  background-color: #f1f1f1;
}
.fragrance .left-4 {
  padding: 50px;
}
.fragrance .left-4 img {
  border-radius: 50%;
}
.fragrance .right-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fragrance .right-4 h2 {
  color: #003da7;
  font-size: 45px;
  font-weight: 700;
  padding: 10px 15px;
}
.fragrance .right-4 p {
  line-height: 30px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.fragrance .right-4 button{
  width: 200px;
}
.fragrance .right-4 button a{
  font-weight: 600;
  text-align: center;
}


/* find */

.find {
  /* padding: 50px; */
  background-color: #f1f1f1;
  border: 2px solid white;
}
.find .heading h2 {
  padding: 20px;
  color: #003da7;
  font-weight: 700;
  font-size: 45px;
}

.find .img {
  overflow: hidden;
  position: relative;
}

.images {
  display: flex;
  justify-content: space-evenly;
  /* gap: 20px; */
  align-items: center;
  /* padding: 30px; */
}
.img p a {
  text-decoration: none;
  color: white;
}
.img p span i {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px; */
}

.img img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 300ms;
  padding-top: 20px;
}

.img p {
  position: absolute;
  /* left: 10px; */
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.5;
  transition: all 300ms;
}
.img img ,i {
  opacity: 0.3;
}

.img:hover img,
i {
  transform: scale(1.1);
  opacity: 1;
}
.img:hover p {
  opacity: 1;
}

.clip-path {
  background-color: grey;
  height: 1200px;
  width: 1500px;
  border-radius: 50%;
}


footer{
  position: relative;
}

.clippathfoot{
  clip-path: ellipse(50% 12% at 50% 100%);
  background-color: #003da5;
  height: 20rem;
  position:absolute;
  top:-20rem;
  left:0;
  right: 0;
}



@media only screen and (min-width: 320px) and (max-width: 480px){

      .ingredient {
       flex-direction: column;
      
      }
      .ingredient .left{
        width: 100%;
      }
      .right{
        margin-top: 30px;
      }
      .right img{
          width: 100%;     
      }
      .fragrance{
        flex-direction: column;
      }
      .fragrance .left-4 img {
        width: 100%;
      }
      .img-1 img{
        display: none;;
      }
      .ingrident-3 .ingredient-content-3{
        flex-direction: column;
      }
      .hero-content{
        position: absolute;
        top:150px;
        text-align: center;
        /* padding: 0 0px; */
        left:0px;
      }
      .hero-content h1{
        /* width: 100%; */
        font-size: 45px;
        
      }
  
      .hero-content p{
        line-height: 20px;
  
      }
      .hero-icon img {
        position: relative;
        height: 60px;
        /* margin-left: 150px; */
        /* margin: 0 auto; */
         top: 90px; 
        left: 0px; 
      }
      .Hero{
        display: flex;
        justify-content: center;
        /* margin-left:; */
        /* align-items: center; */
      }
      .left .title h2{
        font-size:22px;
      }
      .ingredient .left {
        /* padding: 20px; */
        /* border: 2px solid green; */
        /* width: 45%; */
        /* margin: auto; */
        margin-left: 0px;
        margin-top: 50px;
      }
      .left-2 {
        width: 100%;
      }
      .left-2 .title h2{
        font-size: 22px;
      }
      .ingrident-3 .title h2{
        font-size: 21px;
      }
      .fragrance .left-4 img{
        width: 100%;
      }
      .fragrance .left-4 {
        padding:40px 20px;
      }
      .fragrance .right-4 h2{
        font-size: 22px;
      }
      .fragrance .right-4 p{
        font-size: 16px;
        font-weight: 400;
      }
      .fragrance button{
        margin-bottom: 30px;
      }
      .find .heading h2{
        font-size: 22px;
      }
      .find .images{
        flex-direction: column;
      }
      .img img{
        opacity: 0.9;
      }
      .img i{
        /* width: 80%; */
        opacity: 3;
      }
      .img p a{
        /* color: #fff; */
        padding-left: 50px;
        font-weight: bolder;
        font-size: 18px;
        opacity: 1;
      }
      .img img{
        padding: 20px;
      }
}

@media only screen and (min-width: 481px) and (max-width: 768px){

 
  .hero-content{
    position: absolute;
    top:150px;
    text-align: center;
    /* padding: 0 0px; */
    left: 0px;
  }
  .hero-content h1{
    /* width: 100%; */
    font-size: 50px;
    font-weight: 800;
    
  }
  .hero-content p{
    margin: auto;
    line-height: 20px;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    
  }
  .hero-icon img {
    position: relative;
    height: 60px;
    /* margin-left: 150px; */
    /* margin: 0 auto; */
     top: 90px; 
    left: 0px; 
  }
  .Hero{
    display: flex;
    justify-content: center;
    
    /* margin-left:; */
    /* align-items: center; */
  }
  .ingredient {
    flex-direction: column;
   }
   .ingredient .left{
     width: 100%;
   }
   .ingredient .left h2{
    font-size: 25px;
   }

   .ingredient-content .description h2{
     font-size: 25px;
   }
   .ingredient-content .description p a{
    text-decoration: underline;
    font-weight: 700;
   }
   
   .right{
     margin-top: 30px;
   }
   .right img{
       width: 100%;     
   }

   .left-2 {
    width: 100%;
  }
   .ingredient-2 .left-2 .title h2{
    font-size: 25px;
    font-weight: 700;
}
.ingredient-2 .right-2 .img-1{
  display: none;
}
.ingrident-3 .title h2{
  font-size: 23px;
  font-weight: 700;
}
.ingredient-content-3  {
  display: flex;
  flex-direction:column ;
}
.left-3 h3{
  font-size: 15px;
  font-weight: 600;
}
.right-3 h3{
  font-size: 10px;
  font-weight:600 ;
}
.fragrance {
  flex-direction: column;
}
.fragrance .right-4 h2 {
  color: #003da7;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 15px;
}

.find .heading h2{
  font-size: 25px;
}
.find .images{
  flex-direction: column;
}
.img img{
  opacity: 0.9;
}
.img p a{
  padding-left: 50px;
  font-weight: bolder;
  font-size: 18px;
  opacity: 1;
}
.img img{
  padding: 20px;
}
}


/* sheetal */  

 @media screen and (max-width:960px){
  navbar ul li a{
      display: none;
  }
  navbar a{
      display: none;
  }
  #bar{
      display: block;
      margin: 10px 20px;
  }
  navbar ul li img{
      display: flex;
      position: relative;
      top:-2rem;
      width: 3rem;
      margin: 10px 10px;
      align-items: center;
      justify-content: center;
  } 

  .footer-top{
    display: block;
  }

  .footer-bottom{
    display: flex;
    flex-direction: column;
  }
} 